$navbar-backgroundColor: #f6f5ee;
$navbar-color: lightgray;
$menu-fontsize: 8px;
$menufont: "Gowun Dodum", sans-serif;

@mixin menu {
  display: flex;
  margin: 0;
  padding-top: 15px;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  padding-bottom: 15px;
  background-color: $navbar-backgroundColor;

  div {
    padding-top: 17px;
  }
}

.navbar__menu {
  @include menu;
  padding-right: 5px;
  font-family: $menufont;
  text-decoration: none;
  color: $navbar-color;

  li {
    cursor: pointer;
    font-size: $menu-fontsize;
  }
}
