.coffeeList {
  margin-left: 35px;
  overflow: hidden;

  .coffeeImageWrap {
    width: 220px;
    height: 220px;
    overflow: hidden;
  }
  img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    transition: all 0.5s;
  }
  img:hover {
    transition: all 0.5s;
    transform: scale(1.1);
  }
  span {
    display: inline-block;
    margin: 20px 15px 30px 15px;
  }
}
