div {
  .coffeeTitle {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    padding: 10px 20px;
    background-color: #f4f4f2;

    * {
      margin-left: 15px;
      color: black;
    }
  }

  .coffeeMenuList {
    display: flex;
    flex-flow: wrap row;

    text-align: center;
    margin-top: 30px;
  }
}
