.logo {
  font-family: 'Dancing Script', cursive;
  padding-left: 19px;
  font-size: 40px;
  font-weight: bold;
}

.body_detail {
  margin: 0;
}

.right_detail {
  margin-left: 40px;
  margin-right: 0;
}

.nav_span {
  margin-right: 25px;
  color: gray;
}

.nav_detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(244, 244, 242);
  padding: 15px 0px 15px 0px;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 7px;
}

.big_name {
  font-size: 30px;
  font-weight: bold;
}

.Kategorie {
  display: flex;
  justify-content: flex-end;
  color: rgba(175, 175, 175);
}

.hr_third {
  margin-bottom: 20px;
}

.picture_explain {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  // border : 1px solid black;
}

img {
  width: 500px;
  height: 450px;
}

.hangul_name {
  font-weight: bold;
  font-size: 26px;
}

i {
  color: rgba(175, 175, 175, 0.8);
  font-weight: bold;
}

.explain1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.explain_detail {
  width: 540px;
}

.hr_first {
  height: 3px;
  background-color: black;
}

.explain2 {
  padding: 14px 0;
}

.explain2_explain {
  font-size: 13px;
  font-weight: bold;
}

.explain3 {
  display: flex;
  justify-content: space-between;
}

.explain3_explain1,
.explain3_explain2 {
  padding: 15px 0;
  font-size: 18px;
  font-weight: bold;
}

table {
  width: 100%;
}

th {
  text-align: left;
  padding-bottom: 10px;
}

td {
  text-align: right;
  padding-right: 6px;
  padding-bottom: 10px;
}

td:nth-of-type(odd) {
  border-right: 1.2px dashed rgba(175, 175, 175);
}

.th1 {
  padding-left: 5px;
}

.explain5 {
  margin: 30px 0;
}

.explain5_explain {
  background-color: rgba(175, 175, 175, 0.3);
  padding: 13px 10px;
  font-weight: bold;
}

.review_title {
  font-weight: bold;
  font-size: 20px;
}

.review_name {
  font-weight: bolder;
  font-size: 14px;
}
.review_content {
  font-size: 12px;
  // font-weight: bold;
  padding-left: 10px;
}

.explain7 {
  margin: 18px 0;
  display: flex;
  justify-content: space-between;
}

.explain7_name {
  font-size: 11px;
  font-weight: bolder;
  background-color: rgba(175, 175, 175, 0.3);
  color: gray;
  padding: 8px;
  border: none;
  margin-right: 10px;
  width: 20%;
}

.explain7_review {
  font-size: 11px;
  font-weight: bolder;
  background-color: rgba(175, 175, 175, 0.3);
  color: gray;
  padding: 8px;
  border: none;
  width: 98%;
}

.bottom {
  width: 100%;
  background-color: rgba(10, 10, 10, 0.75);
  margin: 90px auto 0px 0px;
  display: flex;
  justify-content: space-around;
  padding: 40px 10px;
}

.bottom > * {
  color: white;
  font-size: 13px;
}

.highest {
  margin-bottom: 10px;
}

.far {
  display: block;
}

.fas {
  color: red;
}

i {
  &.fa-solid {
    font-size: 13px;
    color: red;
  }

  &.fa-regular {
    font-size: 13px;
    // color: red;
  }

  &.fa-x {
    font-size: 13px;
    color: black;
  }
}
