.detail-footer{
    position: absolute;
    transform: translate(-15%, 0);
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: 100px;
    padding : 70px 50px;
    color: white;
    background-color: #212121;

    .footer-menu-title div{
        margin-bottom: 15px;
    }
}