$prod-fontsize: 10px;

@mixin imgs-size {
  width: 180px;
  height: 180px;
}

.card {
  display: flex;
  padding-left: 40px;
  font-size: $prod-fontsize;

  li {
    padding: 10px;
    text-align: center;
  }
}

.imgs img {
  @include imgs-size;
  transition: all 0.7s linear;
}

.imgs {
  @include imgs-size;
  overflow: hidden;
}

.imgs img:hover {
  transform: scale(1.1);
}
