.footer{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 66px 114px 33px;
    background-color: #333;
    color: #fff;

    ul {
        display: flex;
        flex-direction: column;
        gap: 18px;
        font-family: 'Noto Sans KR', sans-serif;
    }
    li{
        font-size: 13px;
    }
}
