.body_list {
  margin: 10px 20px;
}

.kind {
  background-color: rgb(230, 230, 235);
  padding: 19px 25px;
  margin-bottom: 20px;
}

.kind1 {
  font-size: 20px;
}

.logo {
  font-family: 'Dancing Script';
  padding-left: 19px;
  font-size: 40px;
  color: black;
  font-weight: bolder;
}

.cold_brew_coffee {
  width: 250px;
  height: 180px;
}

/* 사진 정렬 */
.menu {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  justify-content: space-between;
}

.menu2 {
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  justify-content: space-between;
}

// 3개로 줄이기
@media screen and (max-width: 1060px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: space-between;
  }

  .menu2 {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    justify-content: space-between;
  }
}

// 2개로 줄이기
@media screen and (max-width: 820px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: space-between;
  }

  .menu2 {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    justify-content: space-between;
  }
}

// 1개로 줄이기
@media screen and (max-width: 560px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    justify-content: center;
  }

  .menu2 {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    justify-content: center;
  }
}

.explain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 35px;
}

.coffee_name {
  padding-top: 10px;
}

.hidden > img {
  visibility: hidden;
}

.fa-solid {
  color: black;
}
