.container {
  display: flex;
  flex-direction: column;
  max-width: 1067px;
  width: 100%;
  margin: 0 auto;
}

.subTitle {
  width: 100%;
  position: relative;
}

.subTitle h2 {
  padding-bottom: 30px;
  font-size: 30px;
  font-weight: 500;
}

.subTitle ul {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 10px;

  li {
    padding-right: 10px;
    color: #bebebe;
    font-size: 15px;
  }
}

.subTitle ul li:iilast-child {
  padding-right: 0;
}

.contents {
  display: flex;
  gap: 50px;
}

.imageBox {
  width: 450px;
  height: 470px;
  overflow: hidden;
}

.imageBox img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

.details {
  width: 610px;
}

.coffeeTitle {
  position: relative;
  width: 100%;
  padding-bottom: 20px;

  h2 {
    padding-bottom: 5px;
    font-size: 25px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
  }
  button {
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 25px;
    border: none;
    background-color: transparent;
  }
}

.description {
  padding: 30px 0;
  border-top: 2px solid black;
  line-height: 1.5;
}

.productHead {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;

  h3 {
    font-size: 20px;
    font-weight: 500;
  }
}

.productContent {
  display: flex;
  padding: 15px;

  ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    li {
      width: 50%;
      display: flex;
      justify-content: space-between;
      line-height: 1.4;
    }

    li:nth-child(odd) {
      border-right: 1px dashed #ddd;
    }
  }
  li dl {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px 15px 15px;
  }
}

.allergy {
  margin-bottom: 30px;
  padding: 15px;
  background-color: #efefef;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
}

.review {
  padding-bottom: 100px;
}

.reviewTitle {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #c4c4c4;
  font-size: 20px;
  font-weight: bold;
}

.reviewBox {
  width: 100%;
  padding: 30px 0;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.4;

    .userId {
      padding-right: 10px;
      font-weight: bold;
    }
  }
}
.reviewInput {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  background-color: #efefef;
  color: #000;
}
