$font-color: lightgray;
$backgrount-color: #e5e5e5;

@mixin border-bottom($weight, $color) {
  border-bottom: $weight solid $color;
}

.detail-section {
  margin-bottom: 150px;
}

h1 {
  font-weight: normal;
}

.coffee-title {
  :first-child {
    padding-left: 40px;
    font-size: 30px;
  }

  :last-child {
    padding-right: 40px;
    font-size: 10px;
    text-align: right;
    color: $font-color;
  }
}
.jh_container {
  display: flex;
  margin: 40px;

  .img-box {
    padding-right: 20px;

    img {
      width: 300px;
      height: 350px;
    }
  }

  .jh_details {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    padding-left: 20px;

    .details__info {
      @include border-bottom(2px, black);
      display: flex;
      justify-content: space-between;
      list-style: none;

      ul {
        :nth-child(1) {
          font-weight: bold;
          font-size: 25px;
        }

        :nth-child(2) {
          padding: 10px 0;
          font-size: 10px;
        }
      }

      .fa-heart {
        padding-right: 10px;
        font-size: 20px;
        color: lightgray;
        cursor: pointer;
      }

      .fa-solid {
        color: red;
      }
    }
  }
}

.description {
  @include border-bottom(1px, $font-color);
  padding: 20px 0;
  font-size: 13px;
}

.nutrition-title {
  @include border-bottom(1px, $font-color);
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding: 25px 10px;

  li {
    list-style: none;
  }
}

.kcal__container {
  display: flex;
  font-size: 13px;

  .container__nutritions {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 15px 0;
  }

  ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;

    li {
      padding: 7px;
    }
  }
}

.first-box {
  border-right: 1px dashed lightgray;
}

.allergy-info {
  margin: 20px 0;
  padding: 12px;
  border-radius: 3px;
  background-color: $backgrount-color;
}

.input-box {
  display: flex;
  margin-top: 20px;
  input {
    flex-grow: 1;
    margin-right: 5px;
    padding: 10px;
    border: white;
    border-radius: 2px;
    background-color: $backgrount-color;
  }
  button {
    cursor: pointer;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
  }
}

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 50px 0;
  background-color: #333333;
  color: white;
  list-style: none;

  li {
    padding: 10px;
    font-size: 10px;
  }
}
