.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #f6f5f0;
  margin-top: 10px;
}

.nav-bar h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav span {
  display: flex;
  align-items: center;
  padding: 20px;
  color: #a4a39f;
}

.nav-bar h1 {
  margin: 15px;
}
