* {
  box-sizing: border-box;
}

body {
  margin: 0px 50px;
}

.menu-bar {
  display: flex;
  align-items: center;
  margin-top: 15px;
  background-color: #f6f5f0;
}

.menu-bar h3,
h4,
img {
  margin: 15px;
}

.menu-bar h4 {
  font-size: 15px;
}

.menu {
  box-sizing: border-box;
  flex-direction: column;
}
