
.container{ 
    display: flex;
    flex-direction: column;
    max-width: 1067px;
    width: 100%;
    margin: 0 auto;
}

.title-box{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    background-color:#F4F4F2;

    h2{
        font-size: 18px;
    }

    span{
        padding:0 20px;
    }

    p{
        font-size: 13px;
    }
}


.coffee-contents{
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    margin-bottom: 40px;

}

.coffee-item {
    .coffee-imgbox{
        height: 260px;
        width: 245px;  
        margin-bottom: 15px;
        overflow: hidden;
    
        img{
            width: 100%;
            object-fit: cover;
            transition: transform 1s;
            cursor: pointer;
    
            &:hover{
                transform: scale(1.1);
              }
            
        }
    }

    p {
        text-align: center;
    }
    
}


