.container {
  display: flex;
  flex-direction: column;
  max-width: 1067px;
  width: 100%;
  margin: 0 auto;
}

// 상의후 지우기
div {
  section {
    h2 {
      margin-top: inherit;
      margin-left: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

.titleBox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f4f4f2;

  h2 {
    font-size: 18px;
  }

  span {
    padding: 0 20px;
  }

  p {
    font-size: 13px;
  }
}

.coffeeContents {
  display: flex;
  flex-wrap: wrap;
  gap: 29px;
  margin-bottom: 40px;
}

.coffeeItem {
  .coffeeImgbox {
    height: 260px;
    width: 245px;
    margin-bottom: 15px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
      transition: transform 1s;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  p {
    text-align: center;
  }
}
