.headerWrap {
  display: flex;
  justify-content: space-between;
  padding: 2px 3px 2px 3px;
  background-color: #f4f4f2;

  .ghLogo {
    width: 100px;
    .ghImg {
      width: 100%;
      height: auto;
    }
  }

  .menuNavBar {
    align-self: center;

    .ghUl {
      display: flex;
      justify-content: space-around;
      list-style: none;
      font-size: 12px;

      li {
        margin: 0 1.5rem;
        min-width: fit-content;
      }
    }
  }
}
