$navbar-backgroundColor: #f6f5ee;
$navbar-color: lightgray;
$menu-fontsize: 12px;
$menufont: 'Gowun Dodum', sans-serif;

body {
  padding: 0;
}
@mixin menu {
  display: flex;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  padding: 10px;
  background-color: $navbar-backgroundColor;

  .navbar_logo {
    padding-top: 30px;
  }
}

.navbar__menu {
  @include menu;
  padding-right: 5px;
  font-family: $menufont;
  text-decoration: none;
  color: $navbar-color;

  li {
    cursor: pointer;
    padding-right: 5px;
    padding-top: 10px;
    font-size: $menu-fontsize;
  }
}
